<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    
    {% load static %}
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'Core/Css/estilologin.css' %}">
    <link rel="stylesheet" href="{% static 'Core/Css/estilos.css' %}">
    <title>florist</title>
    <link rel="icon" type="image/png" href="{% static 'Core/Img/Logo.png' %}">
  </head>
  {% load static %}
<body>
  <div class="textosuperior" >Bienvenido a florist, dedicados a la venta de planta y a la fabricacion de maceteros Telefono+56225013510 – Whatsapp +56963389763
  </div>
<!--Inicio de barra de navegacion-->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color:  rgba(214, 214, 214, 0.849);">
  <img src="{% static 'Core/Img/Logo.png' %}" alt="20" width="55" style="margin-left: 6%;">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" style="margin-left: 70%;">
      <li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:8000/">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{%url 'registro1'%}">Registrate</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Tienda">Tienda</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Registro">Registro</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/carrito">Carrito</a>
      </li>
    </ul>
    <div class="icono">
      <a title="icono" href="{%url 'login'%}"><img src="{% static 'Core/Img/usuario.png' %}" alt="icono" /></a>
    </div>
  </div>
</nav>
<!--Fin de barra de navegacion-->

  <div class="container">
    <div class="row">
       <div class="col-12 col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <h2>Registro de Usuario</h2>
                <hr>
                <form action="" method="post">  

                    {% csrf_token %}

                    {{ form }}

                    <a href="{%url 'principal'%}">ir al inicio</a>
                    <a href="{%url 'login'%}">iniciar sesion</a>
                    <input type="submit" value="Registrar" class="btn btn-success float-right">

                </form>
        
            </div>
        </div>
    </div>
</div>
</div>





<!-- Footer -->
<section id="footer">
  <div class="container">
    <div class="row text-center text-xs-center text-sm-left text-md-left">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Suscríbete</h5>
        <ul class="list-unstyled quick-links" >
          <li>
            <h1>regístrate gratis para obtener las mejores recomendaciones del fundador de Florist 
              y los últimos lanzamientos y ofertas, te esperamos…
            </h1>
            <a class="btn btn-primary" href="{% url 'registro1' %}" role="button">Suscribete</a>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Redes Sociales</h5>
        <a href="https://es-la.facebook.com/" class="href">
          <img src="{% static 'Core/Img/facebook.png' %}" alt="">
        </a>
        <a href="https://web.whatsapp.com/" class="href">
          <img src="{% static 'Core/Img/whatsapp.png' %}" alt="">
        </a>
        <a href="https://www.instagram.com/" class="href">
          <img src="{% static 'Core/Img/instagram.png' %}" alt="">
        </a>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Arte Cultivos</h5>
        <ul class="list-unstyled quick-links">
          <li>
            <h1>Nos destacamos por los maceteros y venta de plantas de huertos, interior y exterior. 
              Tierras de diversos tipos y lo mejor de todo, cuando te suscribes a nuestro newsletter 
              recibirás a través del tiempo recomendaciones e instrucciones para cuidar tu planta de mejor manera. 
              Nuestra Misión es Hacer de tu Vida un Gran Jardín!!!
            </h1>
          </li>
        </ul>
      </div>
    </div>
      <hr>
    </div>	
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
        <p class="h6">Copyright © 2022 Florist.</p>
      </div>
      <hr>
    </div>	
  </div>
</section>
<!-- ./Footer -->
</body>
</html>
